<div class="center jumbotron">
    <h1>A place for off-topic conversation.</h1>
    <h2>Not your daddy's newspaper.</h2>
    <%= link_to "Sign up to post now", "", class:"btn btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View as Guest
        </h3>
        <h2 class="left">View articles as guest, and sign up later!</h2>
        <p><%= link_to "browse articles","",class:"btn btn-warning btn-sm"%></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View as Guest
        </h3>
        <h2 class="left">View articles as guest, and sign up later!</h2>
        <p><%= link_to "browse articles","",class:"btn btn-warning btn-sm"%></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View as Guest
        </h3>
        <h2 class="left">View articles as guest, and sign up later!</h2>
        <p><%= link_to "browse articles","",class:"btn btn-warning btn-sm"%></p>
    </div>
</div>